# COVERAGE
coverage/

# DEPENDENCIES
node_modules/

# EDITORS
*~
*.sublime-project
*.sublime-workspace
*.sw*
.idea/
.vscode/

# FILESYSTEM
.DS_Store

# GITHUB PAGES
_site/

# LOCKS
package-lock.json
yarn.lock

# OTHER
.esformatter
.imdone/
.tmp/
